{% extends './base.html' %}


{% block content %}
<div class="col-sm mb-3">
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="{{ p.image_url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ p.name }} {{ p.surname }}</h5>
      <p class="card-text">Born on {{ p.birthday_date|date:"M d, Y" }} at {{ p.birthday_date|time:"H:i" }} in {{ p.birthplace }}, Poland.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Job: {{ p.job }}</li>
      <li class="list-group-item">Age: {{ p.age }}</li>
      <li class="list-group-item">Email: {{ p.email }}</li>
      <li class="list-group-item">Phone: +48 {{ p.phone }}</li>
      <li class="list-group-item">Weight: {{ p.weight }}</li>
      
    </ul>
    <div class="card-body">
      <a href="{% url 'api_person' p.id %}" class="card-link">API view</a>
      <a href="https://www.google.com/search?q={{ p.name }}+{{ p.surname}}" class="card-link">Search in Real</a>
    </div>
  </div>
</div>
{% endblock content %}